.biden-img {
    width: 70%;
    height: 280px;
    margin-left: 162px;
}

.trump-img {
    width: 70%;
    height: 280px;

}

.btn-custom {
    margin-left: 20px;
}

.input-custom {
    margin-left: 110px;
}